a{
    text-decoration: none;
}



//
.carousel-indicators li {
  
  cursor: pointer;  
  border: none;
  background-color: white;  
}
.carousel-indicators .active {
  background-color: palevioletred;
}



.sliderButton{
  background-color: black!important;
  border: none;
  color: white!important;

}

.sliderButton:hover{
  background-color: #26B67C !important;
  border: none;
  color: black!important;

}

.testimonialImg{
  border-radius: 50%; 
}

// 
#facts {
  background: #f7f7f7;
  padding: 80px 0 60px 0;
}

#facts .counters span {
  font-size: 48px;
  display: block;
  color: #2dc997;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/*--------------------*/
/* ABOUT US */
/*--------------------*/

.about-img {
  transition: all  1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.about-img:hover {
  transition: all .55s ease-in-out;
  transform: scale(0.9); 
  -moz-transition: .55s ease-in-out;
  -webkit-transition: .55s ease-in-out;
}





/***************************** Responsive UI Slider ****************/

@media (max-width: 767px) {
  .testimonialImg {
      text-align: center; 

  }
  
  .testimonialStmnt{
    text-align: center; 
    
  }

  .testimonialP{
    padding-left: 10%;
    padding-right: 10%;
  }

  #counterSection{
    height: 350px !important;
  }

 .counterSlider{
   padding-top: 5px !important;
 }

  .slid{
    width: 60%
  }
}

@media (min-width: 768px) {
  .testimonialImg { 
      text-align: right; 

  }

  .testimonialStmnt{
    text-align: left; 
   
  }

  .testimonialP{
    padding-left: 0%;
    padding-right: 10%;
  }

  

  .slid{
    width: 48%
  }
}


/*****************************************************/

#counter{
  position: relative;
  margin-top: 90px;
  height: calc(100vh - 3rem);

  width: 100%;
  //background: url('../../../assets/dashboard/bjg_1.jpg') no-repeat top center / cover;
  overflow: hidden;
}


/************************************************/
/***************** Flip Effect *************************/

.flip {
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
  text-align: center;
  height: 400px;
  width: 320px;
  border:1px solid gray;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  height: 400px;
  width: 320px;
  border-radius: 10px;
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  //background-color: #fff; 
  //width: 100% !important;
  height: 400px;
  width: 320px;
  border-radius: 10px;
}
.flip .card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  width: 100% !important;
  border-radius: 10px;
}

.card-image{
    width: 100% !important;
    //border-radius: 13px 13px 0px 0px;
    //height: 100% !important;
    height: 100% !important;
    border-bottom: 1px solid pink;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 320px 400px !important;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .card-content {
  position: relative;
  z-index: 1;
  text-align: left;
  //border: 1px solid gray;    
} 


.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  position: absolute;
  height: 100% !important;
 // border: 1px solid gray;
  width: 100% !important;
  border-radius: 10px;
}
 

.flipP{
  margin-top: 0px;  
}

.backDiv .inner{
  margin-top: 100px !important;
}

.face .front{
  width: 350px;
  height: 450px;
}


.card {
  border: none;
}



.flipUl {
  position: relative;
  list-style: none;
}

.flipLi::before {
  content: '▶';
  position: absolute;
  left: 0;
}
//////////////////////////////////////@at-root


.quote-left{ position:absolute; font-size: 100px; font-family: 'Libre Baskerville', serif; font-style: normal; color:#d30050; line-height:0px; top:52px;}
.testimonial-block { border-radius: 0px; position: relative; }
.testimonial-title { font-size: 30px; font-weight: 500; margin-bottom: 30px; margin-left:60px; font-family: 'Lato', sans-serif; }
.testimonial-text { font-size: 18px; color: #2f2e2c; line-height: 36px; font-weight: 500; margin-bottom: 25px;
 font-style: italic; font-family: 'Libre Baskerville', serif; }
.testimonial-meta { color: #cda34d; font-size: 10px; margin-left: 13px; margin-bottom: 0px; text-transform:uppercase; }
.testimonial-name { color: #2f2e2c; font-size: 18px; font-weight: 600; line-height: 18px; }
.quote-block .quote-left{ font-size: 100px; position: absolute; left: 5px;   top: 60px; font-family: 'Libre Baskerville', serif; font-style: normal; 
color:#fff; }
.quote-block .quote-right{ font-size: 100px; position: absolute;  font-family: 'Libre Baskerville', serif; font-style: normal;
 color:#fff; bottom:-90px; right:10px;  }


 ///////////////////@at-root
 


.container {
  position: relative;
  padding-left: 1px;
  padding-right: 1px;
  display: flex;
  display: inline-block;
  overflow: hidden;  
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .4s;
}

.overlay {
  position: absolute;
  opacity: 0;
  display: block;
  width: 99%;
  height: 100%;
  transition:all .9s ease;
  background-color: #008cba;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}


.container:hover .overlay {
  opacity: 0.5;
}

.container:hover .image {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.overlayBottom{
  width: 100%;
  height: 100%;
  bottom:0;
  left:0;
  background-color: #941e33;
}


// .lb-data .lb-close {
//   position: absolute;
//   top: -50px;
//   margin-right: -50px;
// } 
//////////////////////////////////////////////////////////////////////////// Course Fee
.card-pricing.popular {
  z-index: 1;
  border: 3px solid palevioletred;
}
.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d;
  
}

.feeShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  
}
.card-deck .card{
  flex:initial !important;
  //width: 20%;
}

.card-pricing{
  border: 1px solid pink;
}
.courseSection{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100% !important;
  // left: 0px;
  // padding-right: 5%;
  // margin-right: 15px;
}

.btn-outline-secondary:hover{
  background-color: pink !important;
  color: black;
}

