
    <section id="counter">
      <div id="heroCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="padding-bottom: 30px;">
          <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#heroCarousel" data-slide-to="1"></li>
          <li data-target="#heroCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="sliderList[0].previewImageUrl" class="d-block w-100" style="height: 600px">
          </div>
          <ng-container *ngFor="let slider of sliderList | slice:1">
            <div class="carousel-item">
              <img [src]="slider.previewImageUrl" class="d-block w-100" alt="..." style="height: 600px">
            </div>
          </ng-container>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>


    <!-- Start About -->
		<section id="about" style="margin-top: 50px;">
			<div class="container-fluid" style="margin-left: 5% !important;">
				<div class="row">
					<div class="col-md-6" >
						<div class="about-area">

							<div class="about-header">
								<h2 class="about-heading-title" style="font-weight: bold;color: palevioletred;">About Us</h2>
								<p>
                   <strong>Abhinav, has grown to become a professional name to be reckoned with bridal makeup.
                   </strong>
                    <br> <br>
                    Abhinav, has grown to become a professional name to be reckoned with bridal makeup.
                    Abhinav, has grown to become a professional name to be reckoned with bridal makeup.
                </p>
							</div>
						</div>
					</div>
          <div class="col-md-6">
						<div class="about-img">
              <img class="about-img-body" src='../../../assets/makeup/pretty-girl-2110243_1920.jpg' style="height: 500px;width: 600px;padding-left: 30px;"/>
						</div>
					</div>
				</div>
			</div>
		</section><!--End About-->

    
<!--==========================
      Makeup Services Section
    ============================-->
    <section id="services" style="margin-top: 50px;" >
        <div class="container-fluid" style="margin-left: 5% !important;">
          <div class="row">
            <div class="col-lg-12" style="width: 100%;text-align: left;">
              <h2 class="makeup-area" style="color: palevioletred;font-weight: bold;">Makeup Services</h2>
              <p class="makeup-description"> Abhinav, has grown to become a professional name to be reckoned with bridal makeup.</p>
            </div>
          </div>
          <div class="d-flex flex-row flex-wrap" style="margin-right: 5% !important;"> 
            <ng-container *ngFor="let makeup of makeupServices;let i=index">
              <div class="col-lg-4 col-md-6">
                <div class="box" [id]="'makeup_service_'+i" style="margin-left:0px; margin-top:10px; margin-bottom: 10px;margin-right: 3px;" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" >
                  <img [src]="makeup.imageUrl" style="width: 90%;height: 250px;">
                  <p class="title" style="font-weight: bold;color: palevioletred;text-align: center;">{{makeup.title}}</p>
                </div>
              </div>
            </ng-container>
          </div>
  
        </div>
      </section><!-- #services -->

    <!--==========================
      Gallery Section
    ============================-->

    <section id="services" style="margin-top: 50px;" >
      <div class="container-fluid" style="margin-left: 5% !important;">
        <div class="row">
          <div class="col-lg-12" style="width: 100%;text-align: left;">
            <h2 class="makeup-area" style="color: palevioletred;font-weight: bold;">Gallery</h2>
            <p class="makeup-description"> Abhinav, has grown to become a professional name to be reckoned with bridal makeup.</p>
          </div>
        </div>
        <div class="row no-gutters" style="margin-right: 5% !important;"> 
          <ng-container *ngFor="let gallery of galleryList;let i=index">
            <div class="container col-lg-3 col-md-6 col-sm-6"  >
                <img [src]="gallery.imageUrl" class="image" [id]="'gallery_'+i" >
                <div class="overlay overlayBottom" (click)="open(gallery)">
                  <div class="text"><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                </div>
            </div> 
          </ng-container>
        </div>

      </div>
    </section>

    <!--==========================
      Pricing Section
    ============================-->
     
    <section id="services" style="margin-top: 50px;" >
      <div class="container-fluid" style="margin-left: 5% !important;">
        <div class="row">
          <div class="col-lg-12" style="width: 100%;text-align: left;">
            <h2 class="makeup-area" style="color: palevioletred;font-weight: bold;">Pricing</h2>
            <p class="makeup-description">The best makeup packages</p>
          </div>
        </div>
        <div class="d-flex flex-row flex-wrap" style="margin-right: 5% !important;"> 
          <ng-container *ngFor="let price of priceList;let i=index">
            <div class="col-lg-3 col-md-6" style="margin-top: 15px;margin-left:10px;margin-right:10px">
              <div class="flip"  (mouseenter)="changeStyle($event,i)" (mouseleave)="changeStyle($event,i)">
                <div class="card" [ngClass]="flipClass[i]">
                  
                    <div class="face front">
                      
                        <div class="inner">
                            <div class="card-image" [style.background-image]="'url('+price.previewImageUrl+')'"
                            >
                              <p style="font-weight: bold;
                              color: mediumvioletred;
                              font-size: 25px;padding-top: 347px;">{{price.name}} </p> 
                              <!-- <section style="text-align: center;padding-top: 50px;" *ngIf="price.discount !=null && price.discount != undefined">
                                  <p style="font-size: 30px;font-weight: bold;color: red;"> {{price.discount.title}}</p>
                                  
                              </section>   -->
                           
                            </div>

                            
                        </div>
                    </div>


                    <div class="face back backDiv" style="background-color: #ffcccc;    text-align: left;">
                        <div class="inner" style="padding-left: 80px;">
                            <ng-container >
                              <h4> Features :- </h4>
                                <ul class="flipUl">
                                  <li class="flipLi" *ngFor="let feature of price.featureList;let i=index">
                                    <span>{{feature.name}}</span>
                                  </li>
                                </ul>

                              <hr style="margin-right: 80px;">
                              <h4> Price : <span> {{price.amount}} &#8377; </span></h4>

                                <button type="button" class="btn btn-success" style="border-radius: 5px;width: 200px;">Book Now </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>



            </div>
          </ng-container>
        </div>

      </div>
    </section>



<!-- Testimonial -->
<section id="services" style="margin-top: 50px;" >
  <div class="container-fluid" style="margin-left: 5% !important;    padding-top: 50px;
  padding-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12" style="width: 100%;text-align: left;">
        <h2 class="makeup-area" style="color: palevioletred;font-weight: bold;">Our Customers Reviews</h2>
        <p class="makeup-description" style="padding-top: 10%;"> Nulla necvenenatis lectus sitamet is convallis nisnteger libero velit lorem egestas sitmet digneu tellus. </p>
      </div>

      <div class="col-lg-offset-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12" style="width: 100%;text-align: left;margin-left: 8%;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="owl-carousel owl-theme" #myApp id="mobileAppp"> 
                <div class="item" *ngFor="let testimonial of testimonialList;let i=index">
                  <div class="row">
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="testimonial-content"> <span class="quote-left">“</span>
                          <h1 class="testimonial-title">{{testimonial.title}}</h1>
                          <div class="testimonial-text">
                            <p>{{testimonial.statement}}</p>
                          </div>
                          <h3 class="testimonial-name">- {{testimonial.name}}</h3>
                          <h6 class="testimonial-meta">{{testimonial.profession}}</h6>
                        </div>
                      </div>
                      <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                        <img src="{{testimonial.previewImageUrl}}" style="height: 200px;width: 200px;">
                      </div>
                  </div> 
                  
                </div>
              </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


<!-- Course Fee  -->
<section id="services" style="margin-top: 50px;" >
  <div class="container-fluid mb-5 " style="margin-left: 5% !important;    padding-top: 25px;
  padding-bottom: 100px;">

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%;text-align: left;">
    <h2 class="makeup-area" style="color: palevioletred;font-weight: bold;">Course Fee</h2>
    <p class="makeup-description"> Nulla necvenenatis lectus sitamet is convallis nisnteger libero velit lorem egestas sitmet digneu tellus. </p>
  </div>
</div>
<div class="row courseSection">
    <div class="pricing card-deck flex-column flex-md-row mb-3"  style="padding-right: 4%;
    padding-left: 5%;" >
      <ng-container *ngFor="let courseFee of courseFeeList;let i=index ">
        <div class="card card-pricing text-center px-3 mb-4"  [ngClass]="courseFeeClass[i]" (mouseenter)="changeFeeStyle($event,i)" (mouseleave)="changeFeeStyle($event,i)">
          <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom  text-white shadow-sm" style="background-color: palevioletred;">{{courseFee.name}}</span>
          <div class="bg-transparent card-header pt-4 border-0">
              <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">$<span class="price">{{courseFee.amount}}</span><span class="h6 text-muted ml-2">/ per month</span></h1>
          </div>
          <div class="card-body pt-0">
              <ul class="list-unstyled mb-4">
                <li  *ngFor="let feature of courseFee.featureList;let i=index">
                  {{feature.name}}
                </li>
              </ul>
              <button type="button" class="btn btn-outline-secondary mb-3">Order now</button>
          </div>
      </div>
      </ng-container>
        
        
    </div>
  </div>
  </div>
</section>
     
<router-outlet></router-outlet>

