.services {
    background-color: #fefefe;

}

.services h1,
p {
    text-align: center;
    margin-top: 20px;
}

.services h1 {
    color: rgba(59, 86, 110, 0.781);
    font-weight: 400;
    letter-spacing: 1.30px;
    line-height: 30px;
    padding-top: 20px;

}

.services p {
    color: rgba(59, 86, 110, 0.781);
    font-weight: 300;
}

/* grid */
.services-item {
    background-color: white;
    box-shadow: 1px 1px 10px #0000002b;
    margin-top: 20px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.services-item::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2ac787;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ac787, #2ecc71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ac787#2ecc71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
/* hover */
.services-item:hover::after {
    height: 100%;
    transition: ease 1s;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
}
.services-item:hover i {
    color: white;
}
.services-item:hover p {
    color: white;
}
.services-item:hover h2 {
    color: white;
}



.services-item i {
    color: rgba(59, 86, 110, 0.781);
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}
.services-item h2 {
    color: rgba(59, 86, 110, 0.781);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.services-item p {
    color: rgba(59, 86, 110, 0.781);
    position: relative;
    z-index: 2;
}

/******************************************/

.flip {
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
  text-align: center;
  height: 700px;
  border:1px solid gray;
  border-radius: 13px 13px 0px 0px;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  width: 100% !important;
  height: 100% !important;
  border-radius: 13px 13px 0px 0px;
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-color: #fff;
  width: 100% !important;
}
.flip .card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  width: 100% !important;
}

.card-image{
    width: 100% !important;
    border-radius: 13px 13px 0px 0px;
    height: 100%;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .card-content {
  position: relaitve;
  z-index: 1;
  text-align: left;
  //border: 1px solid gray;    
} 


.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  position: absolute;
  height: 100% !important;
 // border: 1px solid gray;
  width: 100% !important;
  border-radius: 13px 13px 0px 0px;
}
 

.flipP{
  margin-top: 0px;  
}

.backDiv .inner{
  margin-top: 250px !important;
}

.face .front{
  width: 100% !important;
}


.card {
  border: none;
}
.customFront{
  width: 100% !important;
}
