

<div class="container">
<section class="services" style="    margin-bottom: 10%;">
    <h1>EMS</h1>
    <p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae.</p>
    <p>Quisque sit amet nisi erat.</p>
    <!-- grid -->
    <div class="row">
        <!-- first start -->
        <div class="col-lg-3 col-md-6">
            <div class="services-item" (click)="divClicked()">
                <i class="fa fa-rocket"></i>
                <h2>Question Bank</h2>
                <p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
            </div>
        </div>
        <!-- first end -->
        <!-- second start -->
        <div class="col-lg-3 col-md-6">
            <div class="services-item">
                    <i class="fa fa-cube"></i>
                <h2>Practice Sets</h2>
                <p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
            </div>
        </div>
        <!-- second end -->
        <!-- third start -->
        <div class="col-lg-3 col-md-6">
            <div class="services-item">
                    <i class="fa fa-object-group"></i>
                <h2>Key Concepts</h2>
                <p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
            </div>
        </div>
        <!-- third end -->
        <!-- fourth start -->
        <div class="col-lg-3 col-md-6">
            <div class="services-item">
                    <i class="fa fa-code"></i>
                <h2>Build Exams</h2>
                <p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
            </div>
        </div>
        <!-- fourth end -->
    </div>
</section>

<section class="chapters" id="chapterSection" style="margin-bottom: 10%;padding-top: 140px;" >
    <div class="container">
    <ng-container *ngFor="let chapter of chapterList;let i=index">
       <div class="row" [hidden]="i % 4 != 0" style="margin-top: 10px;">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" (click)="chapterCardClicked(chapterList[i])" [hidden]="chapterList[i] === null || chapterList[i] === undefined">
            <div class="flip"  (mouseenter)="changeStyle($event,i)" (mouseleave)="changeStyle($event,i)">
                <div class="card" [ngClass]="flipClass[i]">
                    <div class="face front customFront">
                        <div class="inner">
                            <div class="card-image" style="border-bottom: 1px solid gray; background-color: #2ac787;">
                                <p class="flipP"><strong> Topic {{i+1}}</strong></p>
                                <p>{{chapterList[i].name}}</p>
                            </div>

                            <div class="card-content">
                               <ol >
                                    <li style="padding-bottom: 10px;" *ngFor="let subchapter of chapterList[i].subChapters;let j=index">
                                        <h6>{{subchapter.name}}</h6>
                                        <p style="text-align: left; font-size: 12px;">{{subchapter.description}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="face back backDiv">
                        <div class="inner" >
                            <ng-container *ngIf="!chapterList[i].isPremium">
                                <p> This is free for you. Get access now </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Get Access </button>
                                
                            </ng-container >

                            <ng-container *ngIf="chapterList[i].isPremium">
                                <p ><span style="color: #fab1a0;"><i class="fa-3x fa fa-user-plus" aria-hidden="true"></i></span></p>
                                <p > To access other topics become EMS member </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Become Member </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Div -->
     
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" (click)="chapterCardClicked(chapterList[i+1])" *ngIf="chapterList[i+1] != null && chapterList[i+1] != undefined">
            <div class="flip"  (mouseenter)="changeStyle($event,i+1)" (mouseleave)="changeStyle($event,i+1)">
                <div class="card" [ngClass]="flipClass[i+1]">
                    <div class="face front customFront">
                        <div class="inner">
                            <div class="card-image" style="border-bottom: 1px solid gray; background-color: #2ac787;">
                                <p class="flipP"><strong> Topic {{i+2}}</strong></p>
                                <p>{{chapterList[i+1].name}}</p>
                            </div>

                            <div class="card-content" >
                               <ol >
                                    <li style="padding-bottom: 10px;" *ngFor="let subchapter of chapterList[i+1].subChapters;let j=index">
                                        <h6>{{subchapter.name}}</h6>
                                        <p style="text-align: left; font-size: 12px;">{{subchapter.description}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="face back backDiv">
                        <div class="inner" >
                            <ng-container *ngIf="!chapterList[i+1].isPremium">
                                <p> This is free for you. Get access now </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Get Access </button>
                               
                            </ng-container>

                            <ng-container *ngIf="chapterList[i+1].isPremium">
                                <p ><span style="color: #fab1a0;"><i class="fa-3x fa fa-user-plus" aria-hidden="true"></i></span></p>
                                <p > To access other topics become EMS member </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Become Member </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Third Div -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" (click)="chapterCardClicked(chapterList[i+2])" *ngIf="chapterList[i+2] != null && chapterList[i+2] != undefined">
            <div class="flip" (mouseenter)="changeStyle($event,i+2)" (mouseleave)="changeStyle($event,i+2)">
                <div class="card" [ngClass]="flipClass[i+2]" >
                    <div class="face front">
                        <div class="inner">
                            <div class="card-image" style="border-bottom: 1px solid gray; background-color: #2ac787;">
                                <p class="flipP"><strong> Topic {{i+3}}</strong></p>
                                <p>{{chapterList[i+2].name}}</p>
                            </div>

                            <div class="card-content" > 
                               <ol >
                                    <li style="padding-bottom: 10px;" *ngFor="let subchapter of chapterList[i+2].subChapters;let j=index">
                                        <h6>{{subchapter.name}}</h6>
                                        <p style="text-align: left; font-size: 12px;">{{subchapter.description}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="face back backDiv">
                        <div class="inner" >
                            <ng-container *ngIf="!chapterList[i+2].isPremium">
                                <p> This is free for you. Get access now </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Get Access </button>
                                
                            </ng-container>

                            <ng-container *ngIf="chapterList[i+2].isPremium">
                                <p ><span style="color: #fab1a0;"><i class="fa-3x fa fa-user-plus" aria-hidden="true"></i></span></p>
                                <p > To access other topics become EMS member </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Become Member </button>
                            </ng-container>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- Fourth Div -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" (click)="chapterCardClicked(chapterList[i+3])" *ngIf="chapterList[i+3] != null && chapterList[i+3] != undefined">
            <div class="flip"  (mouseenter)="changeStyle($event,i+3)" (mouseleave)="changeStyle($event,i+3)">
                <div class="card" [ngClass]="flipClass[i+3]">
                    <div class="face front">
                        <div class="inner">
                            <div class="card-image" style="border-bottom: 1px solid gray; background-color: #2ac787;">
                                <p class="flipP"><strong> Topic {{i+4}}</strong></p>
                                <p>{{chapterList[i+3].name}}</p>
                            </div>

                            <div class="card-content" >
                               <ol >
                                    <li style="padding-bottom: 10px;" *ngFor="let subchapter of chapterList[i+3].subChapters;let j=index">
                                        <h6>{{subchapter.name}}</h6>
                                        <p style="text-align: left; font-size: 12px;">{{subchapter.description}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="face back backDiv">
                        <div class="inner" >
                            <ng-container *ngIf="!chapterList[i+3].isPremium">
                                <p> This is free for you. Get access now </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Get Access </button>
                                
                            </ng-container>

                            <ng-container  *ngIf="chapterList[i+3].isPremium">
                                <p ><span style="color: #fab1a0;"><i class="fa-3x fa fa-user-plus" aria-hidden="true"></i></span></p>
                                <p > To access other topics become EMS member </p>
                                <button type="button" class="btn btn-success" style="border-radius: 5px;">Become Member </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </ng-container> 
    </div>

  

</section>

</div>