.headerContainer{
    width: 100%;
    padding-right: 15px !important; 
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}



header {
    background-color: #f8a5c2;
    color: #fff;
    z-index: 1000;
  }
  
  header a {
    color: #fff;
  }
  
  header::after {
    content: "";
    width: 100%;
    //height: 2px;
    background-color: rgba(255, 255, 255, 0.02);
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  
  .nav-link {
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
  }
  
  .contact {
    font-size: 12px;
  }
  
  .tel {
    margin-right: 30px;
  }
   
  .contact i {
    color: #ee1515;
    margin-right: 10px;
  }
  
  .login {
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 25px;
    text-transform: uppercase;
  }
  
  .contact a:hover,
  .login:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
  
  .login i {
    color: #ee1515;
    margin-right: 8px;
  }
  
  .navbar-brand h1 {
    margin: 0;
  }
  
  .social {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  
  .social li:not(:last-child) {
    margin-right: 20px;
  }
  
  .social a {
    font-size: 14px;
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid #ee1515;
    border-radius: 4px;
    line-height: 10px;
    text-align: center;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
  }
  
  .social a:hover {
    color: #fff;
    background-color: #ee1515;
  }
  
  .navbar-brand img {
    width: 135px;
  }
  
  .navbar-collapse .search-form input[type="text"] {
    border: 1px solid #ced4da;
    color: #333;
    padding: 1.5625rem 0.625rem;
  }
  
  .navbar-collapse .search-form .btn {
    margin-top: 0;
    border-radius: 0;
    margin-left: -1px;
  }
  
  .navbar-collapse .nav-link {
    font-size: 1.125rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-collapse .nav-link:hover {
    color: #ee1515;
  }


.cart,
.login-icon,
.search-icon {
  color: #fff;
  font-size: 1.5rem;
}

.cart:hover,
.login-icon:hover,
.search-icon:hover {
  color: #ee1515;
}

.cart {
  margin-left: 20px;
}

form input.btn-primary:hover,
form button.btn-primary:hover {
  background-color: #fff;
  color: #ee1515;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.glowingButton {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
.glowingButton {
  animation: glowing 2000ms infinite;
}