
    <div >
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #ff7675;" *ngIf="isLoading" ></i>
        <div class="modal fade login" id="changePwdModal">
           <div class="modal-dialog login animated">
               <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="width: 100%;text-align: center;" *ngIf="changePwdFlg">Update Password</h5>
                    <h5 class="modal-title" style="width: 100%;text-align: center;" *ngIf="resetPwdFlg">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   </div>
                   <div class="modal-body">
                       <div class="box">
                            <div class="content" >
                               
                       <div class="form loginBox" [hidden]="!changePwdFlg">
                            <form [formGroup]="changePwdForm">
                            <div class="form-row" >
                                <div class="col-lg-12">
                                    <div class="input-group">
                                         <input id="oldPassword" class="form-control" type="password" placeholder="Old Password" name="oldPassword" formControlName="oldPassword">
                                         <div [ngClass]="{'invalid-feedback': changePwdForm.controls.oldPassword.invalid && (changePwdForm.controls.oldPassword.dirty || changePwdForm.controls.oldPassword.touched)}" 
                                         [style.display]="changePwdForm.controls.oldPassword.invalid && (changePwdForm.controls.oldPassword.dirty || changePwdForm.controls.oldPassword.touched) ? 'block' : 'none'">
                                          Old Password is required 
                                        </div>  
                                    
                                        </div>
                                </div>
  
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="newPassword" class="form-control" type="password" placeholder="New Password" name="newPassword" formControlName="newPassword">
                                        <div [ngClass]="{'invalid-feedback': changePwdForm.controls.newPassword.invalid && ( changePwdForm.controls.newPassword.dirty || changePwdForm.controls.newPassword.touched)}" 
                                            [style.display]="changePwdForm.controls.newPassword.invalid && ( changePwdForm.controls.newPassword.dirty || changePwdForm.controls.newPassword.touched) ? 'block' : 'none'">
                                                Password is required
                                         </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="input-group">
                                      
                                       <input type="password" class="form-control " 
                                       [ngClass]="{
                                          'is-invalid': changePwdForm.controls.confirmPassword.invalid && ( changePwdForm.controls.confirmPassword.dirty || changePwdForm.controls.confirmPassword.touched || pwdMisMatch),
                                          'is-valid': changePwdForm.controls.confirmPassword.valid && changePwdForm.controls.confirmPassword.dirty && !pwdMisMatch
                                        }"             
                                       name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                                       <div [ngClass]="{'invalid-feedback': changePwdForm.controls.confirmPassword.invalid && ( changePwdForm.controls.confirmPassword.dirty || changePwdForm.controls.confirmPassword.touched)}" 
                                       [style.display]="changePwdForm.controls.confirmPassword.invalid && ( changePwdForm.controls.confirmPassword.dirty || changePwdForm.controls.confirmPassword.touched) ? 'block' : 'none'">
                                        Password is required
                                      </div>
                                      <div [ngClass]="{'invalid-feedback':pwdMisMatch}"  id="confmpwdMsg"
                                       [style.display]="pwdMisMatch ? 'block' : 'none'">
                                        Password not matched
                                      </div>
                                    </div>
                                  </div>


                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input class="btn btn-default btn-login" type="button" value="Update Password" (click)="updatePassword()">
                                    </div>
                                </div>
                            </div>
                            </form>
                        <!-- Form ends -->
                        
                        
                        
                        </div>

                        <!-- Token based reset pwd starts -->
                        <div class="form loginBox"  [hidden]="!resetPwdFlg">
                            <form [formGroup]="resetPasswordForm">
                            <div class="form-row" >
                               
  
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="password" class="form-control" type="password" placeholder="New Password" name="password" formControlName="password">
                                        <div [ngClass]="{'invalid-feedback': resetPasswordForm.controls.password.invalid && ( resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched)}" 
                                            [style.display]="resetPasswordForm.controls.password.invalid && ( resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched) ? 'block' : 'none'">
                                                Password is required
                                         </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="input-group">
                                      
                                       <input type="password" class="form-control " 
                                       [ngClass]="{
                                          'is-invalid': resetPasswordForm.controls.confPassword.invalid && ( resetPasswordForm.controls.confPassword.dirty || resetPasswordForm.controls.confPassword.touched || pwdMisMatch),
                                          'is-valid': resetPasswordForm.controls.confPassword.valid && resetPasswordForm.controls.confPassword.dirty && !pwdMisMatch
                                        }"             
                                       name="confPassword" id="confPassword" class="form-control" placeholder="Confirm Password" formControlName="confPassword" required>
                                       <div [ngClass]="{'invalid-feedback': resetPasswordForm.controls.confPassword.invalid && ( resetPasswordForm.controls.confPassword.dirty || resetPasswordForm.controls.confPassword.touched)}" 
                                       [style.display]="resetPasswordForm.controls.confPassword.invalid && ( resetPasswordForm.controls.confPassword.dirty || resetPasswordForm.controls.confPassword.touched) ? 'block' : 'none'">
                                        Password is required
                                      </div>
                                      <div [ngClass]="{'invalid-feedback':pwdMisMatch}"  id="confmpwdMsg"
                                       [style.display]="pwdMisMatch ? 'block' : 'none'">
                                        Password not matched
                                      </div>
                                    </div>
                                  </div>
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input class="btn btn-default btn-login" type="button" value="Reset Password" (click)="resetPassword()">
                                    </div>
                                </div>
                            </div>
                            </form>
                        <!-- Form ends -->
                        
                        
                        
                        </div>

                         <!-- Token based reset pwd ends -->
                     </div>
                </div>
                       
                   </div>
                  
               </div>
           </div>
       </div>  
       </div>
   