
    <div >
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #ff7675;" *ngIf="isLoading" ></i>
      <div class="modal fade login" id="loginModal">
         <div class="modal-dialog login animated">
             <div class="modal-content">
                <div class="modal-header" >
                  <h5 class="modal-title" style="margin-left: 30%;"   *ngIf="isLogin">Login with</h5>
                  <h5 class="modal-title" style="margin-left: 30%;" *ngIf="isRegister">Signup with</h5>
                  <h5 class="modal-title" style="margin-left: 30%;" *ngIf="showForgetPwd">Reset Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 </div>
                 <div class="modal-body" >
                     <div class="box" *ngIf="!showForgetPwd">
                          <div class="content" >
                             <div class="social">
                                 <!-- <a class="circle github" href="#">
                                     <i class="fa fa-github fa-fw"></i>
                                 </a> -->
                                 <a id="google_login" class="circle google" href="{{GOOGLE_AUTH_URL}}" target="_self">
                                     <i class="fa fa-google-plus fa-fw"></i>
                                 </a>
                                 <a id="facebook_login" class="circle facebook" href="#">
                                     <i class="fa fa-facebook fa-fw"></i>
                                 </a>
                             </div>
                             <div class="division">
                                 <div class="line l"></div>
                                   <span>or</span>
                                 <div class="line r"></div>
                             </div>
                             <div class="error"></div>
                             <div class="form loginBox" *ngIf="isLogin">
                              <form [formGroup]="loginForm" (keypress)="loginkeyPress($event)" >
                                <div class="form-row" >
                                <div class="col-lg-12">
                                  <div class="input-group">
                                       <input id="email" class="form-control customInput" type="text" placeholder="Email" name="email" formControlName="email"  tabindex="1">
                                       <div [ngClass]="{'invalid-feedback': loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)}" 
                                       [style.display]="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched) ? 'block' : 'none'">
                                       <ng-container *ngIf="loginForm.get('email').value === ''">
                                        Email is required 
                                       </ng-container>
                                       <ng-container *ngIf="loginForm.get('email').value  != '' && loginForm.controls.email.invalid">
                                        Email is not valid
                                       </ng-container>
                                      </div>  
                                  
                                      </div>
                                  </div>

                                  <div class="col-lg-12">
                                    <div class="input-group">
                                 <input id="password" class="form-control customInput" type="password" placeholder="Password" name="password" formControlName="password" tabindex="2">
                                 <div [ngClass]="{'invalid-feedback': loginForm.controls.password.invalid && ( loginForm.controls.password.dirty || loginForm.controls.password.touched)}" 
                                 [style.display]="loginForm.controls.password.invalid && ( loginForm.controls.password.dirty || loginForm.controls.password.touched) ? 'block' : 'none'">
                                  Password is required
                                </div>
                                <div style="padding-bottom: 8px;">
                                  <a href="javascript:void(0)" target="_self" (click)="showForgotPwd()">Forgot Password?</a>
                                </div>
                               
                                </div>
                              </div>   
                              <div class="col-lg-12">
                                <div class="input-group">
                                  <!-- [disabled]="!loginForm.valid" -->
                                 <input class="btn btn-default btn-login" type="button" value="Login" tabindex="3" (keypress)="loginkeyPress($event)"  (click)="login()">

                                </div>
                              </div> 
                                </div>
                                </form>
                             </div>
                          </div>
                     </div>
                      <!-- Reset Password starts  -->
                      <div class="box" *ngIf="showForgetPwd">

                        <div class="form loginBox">
                            <form [formGroup]="resetPwdForm">
                              <div class="form-row" >
                                <div class="col-lg-12">
                                  <div class="input-group">
                                     <input id="email" class="form-control " type="text" placeholder="Email" name="email" formControlName="email">
                                     <div [ngClass]="{'invalid-feedback': resetPwdForm.controls.email.invalid && (resetPwdForm.controls.email.dirty || resetPwdForm.controls.email.touched)}" 
                                     [style.display]="resetPwdForm.controls.email.invalid && (resetPwdForm.controls.email.dirty || resetPwdForm.controls.email.touched) ? 'block' : 'none'">
                                      Email is required 
                                    </div>  
                                  </div>
                                </div>
                              </div>
                              <div class="row">

                                <div class="col-lg-12">
                                  <div class="input-group">
                                   <input class="btn btn-default btn-login" type="button" value="Reset Password" (click)="resetPassword()">
                                  </div>
                                </div> 
    
                              </div>
                            </form>
                           
                         </div>
                      </div>



                     <!-- Reset passwor d ends -->
                     <div class="box">
                         <div class="content registerBox" *ngIf="isRegister">
                           <form [formGroup]="signUpForm" (keypress)="signUpkeyPress($event)" >
                              <div class="form-row" >
                                 <div class="col-lg-12">
                                    <div class="input-group">
                                      
                                       <input type="text" class="form-control" 
                                       [ngClass]="{
                                          'is-invalid': signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched),
                                          'is-valid': signUpForm.controls.email.valid && signUpForm.controls.email.dirty 
                                        }"             
                                       name="email" id="email" placeholder="Email Address" class="form-control" formControlName="email" required >
                                       <div [ngClass]="{'invalid-feedback': signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)}" 
                                       [style.display]="signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched) ? 'block' : 'none'">
                                       <ng-container *ngIf="signUpForm.get('email').value === ''">
                                        Email is required 
                                       </ng-container>
                                       <ng-container *ngIf="signUpForm.get('email').value  != '' && signUpForm.controls.email.invalid">
                                        Email is not valid
                                       </ng-container>
                                      
                                      
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                    <div class="input-group">
                                      <!-- appKeyPressValidator [pattern]="NAME_REG" -->
                                       <input type="text" class="form-control " 
                                       [ngClass]="{
                                          'is-invalid': signUpForm.controls.firstName.invalid && ( signUpForm.controls.firstName.dirty || signUpForm.controls.firstName.touched),
                                          'is-valid': signUpForm.controls.firstName.valid && signUpForm.controls.firstName.dirty 
                                        }"             
                                       name="firstName" id="firstName"  placeholder="First Name" class="form-control" formControlName="firstName" required>
                                       <div [ngClass]="{'invalid-feedback': signUpForm.controls.firstName.invalid && ( signUpForm.controls.firstName.dirty || signUpForm.controls.firstName.touched)}" 
                                       [style.display]="signUpForm.controls.firstName.invalid && ( signUpForm.controls.firstName.dirty || signUpForm.controls.firstName.touched) ? 'block' : 'none'">
                                        First Name is required
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                    <div class="input-group">
                                       <input type="text"  class="form-control " placeholder="Last Name" formControlName="lastName">
                                    </div>
                                  </div>
                              </div>
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                    <div class="input-group ">
                                      
                                       <select id="company" name="designation" class="form-control customSelect" formControlName="designation" required>
                                          <option value="-1" selected>Select Designation </option>  
                                          <option value="1">Teacher</option>
                                          <option value="2">Parent</option>
                                          <option value="3">Student</option>
                                      </select> 
                                       
                                       <div [ngClass]="{'invalid-feedback': ( signUpForm.controls.designation.dirty && signUpForm.controls.designation.touched  && signUpForm.controls.designation.value == -1)}" 
                                       [style.display]="(signUpForm.controls.designation.dirty && signUpForm.controls.designation.touched && signUpForm.controls.designation.value == -1)  ? 'block' : 'none'">
                                        Select Designation
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                    <div class="input-group">
                                      
                                       <input type="password" class="form-control " 
                                       [ngClass]="{
                                          'is-invalid': signUpForm.controls.password.invalid && ( signUpForm.controls.password.dirty || signUpForm.controls.password.touched),
                                          'is-valid': signUpForm.controls.password.valid && signUpForm.controls.password.dirty 
                                        }"             
                                       name="password" id="password" class="form-control" placeholder="Enter Password" formControlName="password" required>
                                       <div [ngClass]="{'invalid-feedback': signUpForm.controls.password.invalid && ( signUpForm.controls.password.dirty || signUpForm.controls.password.touched)}" 
                                       [style.display]="signUpForm.controls.password.invalid && ( signUpForm.controls.password.dirty || signUpForm.controls.password.touched) ? 'block' : 'none'">
                                        Password is required
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                    <div class="input-group">
                                      
                                       <input type="password" class="form-control " 
                                       [ngClass]="{
                                          'is-invalid': signUpForm.controls.confirmPassword.invalid && ( signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched || pwdMisMatch),
                                          'is-valid': signUpForm.controls.confirmPassword.valid && signUpForm.controls.confirmPassword.dirty && !pwdMisMatch
                                        }"             
                                       name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                                       <div [ngClass]="{'invalid-feedback': signUpForm.controls.confirmPassword.invalid && ( signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched)}" 
                                       [style.display]="signUpForm.controls.confirmPassword.invalid && ( signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched) ? 'block' : 'none'">
                                        Password is required
                                      </div>
                                      <div [ngClass]="{'invalid-feedback':pwdMisMatch}"  id="confmpwdMsg"
                                       [style.display]="pwdMisMatch ? 'block' : 'none'">
                                        Password not matched
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        
                              <div class="form-row">
                                 <div class="col-lg-12">
                                 <input class="btn btn-default btn-register" type="button" value="Create account" (click)="submitSignupForm()" name="commit">
                               </div>
                              </div>
                            </form>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <div class="forgot login-footer" *ngIf="isLogin || showForgetPwd">
                         <span>Looking to
                              <a href="javascript:void(0)" (click)="ceateAccount()">create an account</a>
                         ?</span>
                     </div>
                     <div class="forgot register-footer" *ngIf="isRegister || showForgetPwd">
                          <span>Already have an account?</span>
                          <a href="javascript:void(0)" (click)="showLogin()">Login</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>










     </div>
 