



<section style="background-color: #4C5A7D;">
  <div class="container-section" style="height: 200px;">
    <h1 style="text-align: center;color: #2AC787;">Welcome to Exam Management System</h1>
    <h2 style="text-align: center;" >We give students best class questions and solutions.</h2>
  </div>
</section>

<div class="container" style="padding-top: 5%;">
<ng-container *ngFor="let subChapter of subChapterList;let i=index">
    <div class="row" *ngIf="i % 4 === 0">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="subChapterList[i] != null && subChapterList[i] != undefined">
            <a class="subChapterBtn btn btn-success" target="_self" [ngClass]="{'active':isClicked[i]}" (click)="subChapterChange(i,subChapterList[i])" >{{subChapterList[i].name}}</a>
         </div>
         

         <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="subChapterList[i+1] != null && subChapterList[i+1] != undefined">
            <a class="subChapterBtn btn btn-success" target="_self" [ngClass]="{'active':isClicked[i+1]}" (click)="subChapterChange(i+1,subChapterList[i+1])">{{subChapterList[i+1].name}}</a>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="subChapterList[i+2] != null && subChapterList[i+2] != undefined">
            <a class="subChapterBtn btn btn-success" target="_self" [ngClass]="{'active':isClicked[i+2]}" (click)="subChapterChange(i+2,subChapterList[i+2])">{{subChapterList[i+2].name}}</a>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="subChapterList[i+3] != null && subChapterList[i+3] != undefined">
            <a class="subChapterBtn btn btn-success" target="_self" [ngClass]="{'active':isClicked[i+3]}" (click)="subChapterChange(i+3,subChapterList[i+3])">{{subChapterList[i+3].name}}</a>
         </div>
     </div>  
</ng-container>

                <ng-container  *ngFor="let question of questionList;let i=index"> 
                     <div class="row" style="margin-top: 30px;">
                        <div class="col-lg-1">
                            <img style="width:50px;height:50px;float: left;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;"  
                            src="../../../assets/dashboard/book.png"
                            
                            >
                        </div>
            
                        <div class="col-lg-6">
                            <div class="row">
                                <p style="font-weight: bold;margin-bottom: 0px;margin-top: 14px;"> Questions {{i+1}}</p>
                            </div>
                            <div class="row">
                                <p style="font-weight: 300;" [innerHTML]="question.description"></p> 
                            </div>
                        </div>
            
            
                     </div>
            
                     <div class="row customQuestionRow">
                        <div class="col-lg-8"  oncontextmenu="return false;" >
                            <img style="width:100%;margin-top: 15px;" 
                            [src]="question.questionDetail.previewImageUrl"
                            (click)="open(question.questionDetail)"
                            >
                        </div>
            
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="container">
                                    <div class="form-row" >
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="form-row" style="padding-left: 20%;    margin-top: 5px;">
                                                    <label for="happy" class="pull-left" style="font-size: 13px;font-weight: 600;">Easy</label>
                                                    <label for="" class="pull-right" style="padding-left:50%;font-size: 13px;font-weight: 600;">Hard</label>
                                                </div>
                                                 
                                                <div class="form-row">
                                                    <div class="progress" style="width: 60%;margin-left: 20%;border-radius: 15px;" >
                                                        <div class="progress-bar" role="progressbar" [style.width]="question.difficultyLevel + '%'" 
                                                        [style.background-color]="question.difficultyLevel < 50 ? 'blue' : (question.difficultyLevel > 49 && question.difficultyLevel <  80)  ? '#e17055' : 'red'"
                                                        aria-valuemin="0" aria-valuemax="100">
                                                            <span *ngIf="question.difficultyLevel < 50" style="color: white">
                                                                Easy
                                                            </span>
            
                                                            <span *ngIf="question.difficultyLevel > 49 && question.questionDetail.difficultyLevel < 80" style="color: white">
                                                                Medium
                                                            </span>
                                                            <span *ngIf="question.difficultyLevel > 79" style="color: white">
                                                                Hard
                                                            </span>
            
                                                        </div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                             <div class="row">
                                <a (click)="openText(question.questionDetail.id,i)" target="_self" 
                                
                                style="color: green;padding-left: 30%;" title="Click to See Answer"> Text Answer</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                <ol style="padding-left: 30%;width: 100%;" >
                                    <li  *ngFor="let videoAnswer of question.questionDetail.videoAnswers;let j=index">
                                        <a href="javascript:void(0);" (click)="openVideo(videoAnswer)" target="_self" 
                                        style="color: green;" title="Click to See Answer"> Video Answer</a>
            
                                    </li>
                                </ol>
                                </div>
                                <div class="col-lg-2">
                                    <div class="row">
                                        <a ><span title="Like it" (click)="addLTo()" class="btn btn-default btn-sm addToLike"  style="width: 100%;text-align: left;padding-top: 5%;">
                                            <i class="fa-lg fa fa-heart"></i>
                                          </span></a>
                                    </div>
                                    <div class="row">
                                          <a ><span title="Like it" (click)="addLTo()" class="btn btn-default btn-sm"  style="width: 100%;text-align: right;padding-top: 0px;color: #ff0000 !important;" >
                                            <i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40"  
                                                 viewBox="0 0 48 60" x="0px" y="0px"><defs><style>
                                                     .cls-1{stroke-miterlimit:10;stroke-width:0.25px;opacity:0;}</style></defs>
                                                     <g data-name="add to queue" ><rect x="6" y="25.99" width="12" height="4"/>
                                                        <rect x="6" y="17.99" width="20" height="4"/><rect x="6" y="9.99" width="28" height="4"/>
                                                        <polygon points="42 26.02 34 26.02 34 17.98 30 17.98 30 26.02 22 26.02 22 30.02 30 30.02 30 38.01 34 38.01 34 30.02 42 30.02 42 26.02"/></g>
                                                    <g><rect class="cls-1"  width="80" height="80"/></g></svg>
                                            </i>  
                                          </span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
            
            
                     </div>
            
                </ng-container>
 <div class="row">
     <div class="col-lg-12" style="text-align: center;" *ngIf="busy">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #ff7675;" ></i>
        <span class="sr-only">Loading Questions</span>
     </div>
     <div class="col-lg-12" style="text-align: center;margin-top: 5%;color: darkslategray;" *ngIf="noMoreData">
        <p> <span style="font-weight: bold;font-size: 14px;">No More Questions </span></p>
     </div>


 </div>


    <div class="container">
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" >
              <div class="modal-content" style="height: 450px;width: 530px;">
                  <div class="modal-body"  style="width: 100%;">
                    <div class="row">
                    <div class="col-lg-12" id="yPlayer">
                        
                     </div>

                    </div>
                   
                  </div>
                  
              </div>
            </div>
          </div>
    </div>



   
     <br> <br> <br>

    
</div>
