
.btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    background-color:#fab1a0 !important;
}

.subChapterBtn{
    width: 180px;
    display: inline-block;
    margin: 1% 5px;
    padding: 5px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.subChapterBtn{
    background: #4C5A7D;
    border-radius: 10px;
    height: 54px;
    width: 100%;
    text-align: center;
}
.subChapterBtn:hover{
    background: #2AC787
}

.customQuestionRow{
    border: 1px solid rgb(218, 216, 216);
    box-shadow:3px 5px 20px 5px  rgb(218, 216, 216); 
    z-index: 10;
    margin: 14px;
}


input[type="range" i]:disabled{
    background-color: rgb(226, 43, 43);
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

a:hover {
    color: green;
    font-weight: 600;
    background-color: transparent;
    font-size: 16px;
  }

ol { list-style-type: lower-alpha; }

.lb-dataContainer .lb-close {
    position:absolute;
    right: -30px;
    top: -30px;
  }

 g{
    fill: #808080;
  } 

 

  svg.hovered > g{
    fill: #2AC787;
  } 

  .addToLike i:hover{
      color:#2AC787;
  }

  .search-results {
    height: 100% !important;

  }

  
 .childFillParent{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  