<footer class="page-footer" style="background-color: #f8a5c2;padding-top: 20px;">  
    <div class="container text-center text-md-left mt-5">
      <div class="row">
  
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Abhinav Makeup</h6>
          <hr class="bg-success  mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
          <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        
          <div class="footer-right">
            <ul class="footer-links-soi">
               <li style="padding: 2px;"><a href="#"><i class="fa fa-google"></i></a></li>
               <li style="padding: 2px;"><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li style="padding: 2px;"><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li style="padding: 2px;"><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li style="padding: 2px;"><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul><!-- end links -->
         </div>	

        </div>
  
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="bg-success mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">
         
           <ul class="list-unstyled">
              <li class="my-2"><a href="#">Html 5</a></li>        
              <li class="my-2"><a href="#">Css 3</a></li>
              <li class="my-2"><a href="#">Bootstrap 4</a></li>
              <li class="my-2"> <a href="#">JavaScript</a></li>         
            </ul>
        </div>
    
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="bg-success  mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px">
            <ul class="list-unstyled">
              <li class="my-2"><a href="#">Home</a></li>        
              <li class="my-2"><a href="#">About</a></li>
              <li class="my-2"><a href="#">Services</a></li>
              <li class="my-2"> <a href="#">Contact</a></li>         
            </ul>
        </div>
  
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="bg-success mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
            <ul class="list-unstyled">
              <li class="my-2"><i class="fas fa-home mr-3"></i> Boring Road,Patna</li>
              <li class="my-2"><i class="fas fa-envelope mr-3"></i> abhinavmakeup@gmail.com</li>
              <li class="my-2"><i class="fas fa-phone mr-3"></i> + 01 234 567 88</li>
              <li class="my-2"><i class="fas fa-print mr-3"></i> + 01 234 567 89</li>
            </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright text-center" style="border-top : 1px solid rgba(255, 255, 255, 0.1);background-color: pink;padding-top: 10px;padding-bottom: 3px;">
      <p >&copy; Copyright
      <a href="#">sunbotomatic.com</a> <br><span>Designed by SUNBOTOMATIC.Pvt.Ltd</span> </p>
    </div>
  </footer>