/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.cac {
  background-color: #232323;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cac:hover a h3 {
  color: #fff !important;
}

.cac a h3 {
  color: #999;
}

.cac h3 {
  padding: 60px 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1 !important;
}

.footer {
  padding: 10px 0 0 !important;
  color: #cccccc;
background:#4c5a7d url('https://firebasestorage.googleapis.com/v0/b/ems-project-972e4.appspot.com/o/world-map.png?alt=media&token=d02f45b9-85eb-4bf4-8e31-f72631513046') no-repeat center; 
}

.footer .widget-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.footer .widget-title small {
  color: #cccccc;
  display: block;
  padding: 0 58px;
  text-transform: uppercase;
}

.footer .widget-title h3 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  padding: 0;
  margin: 0;
  line-height: 1 !important;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #cccccc;
}

.footer-links a:hover,
.footer a:hover {
  color: #f4f4f4 !important;
}

.footer-links li {
  margin-bottom: 5px;
  display: block;
  width: 100%;
padding: 5px 0px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.twitter-widget li {
  margin-bottom: 0;
  border: 0 !important;
}

.twitter-widget li i {
  border-right: 0 !important;
  margin-right: 0;
}

.footer-links li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

.footer-links i {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  background-color: #1f1f1f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 10px 0px;
  overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

.footer-distributed .footer-links {
  margin: 0 0 10px;
  text-transform: uppercase;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

.footer-distributed .footer-company-name {
  font-weight: 300;
  margin: 0 10px;
  color: #666;
  padding: 5px 0px;
}


/* Footer right */

.footer-distributed .footer-right {
  float: right;
}


/* The search form */

.footer-distributed form {
  position: relative;
}

.footer-distributed form input {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #181818;
  border: none;
  font: inherit;
  font-size: 15px;
  font-weight: normal;
  color: #999;
  width: 400px;
  padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
  outline: none;
}


/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
  color: #999;
}

.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
  color: #999;
}


/* The magnify glass icon */

.footer-distributed form i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #999;
  font-size: 18px;
  margin-top: 6px;
}


.footer-distributed .footer-company-name a{
color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
color: #2AC787;
}
.footer-links-soi{
margin: 0px;
padding: 0px;
}
.footer-links-soi li{
display: inline-block;
}
.footer-links-soi li a{
background: #ffffff;
color: #333333;
width: 32px;
height: 32px;
display: block;
font-size: 22px;
text-align: center;
line-height: 32px;
border-radius: 2px;
}
.footer-links-soi li a:hover{
background: #e52e71;
}
.footer-links-soi li a:hover i{
color: #ffffff;
-webkit-transform: rotateY(360deg);
transform: rotateY(360deg);
}

.footer-links-soi li a i{
-webkit-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
transition: all 0.6s ease;
}

.footer-center{
text-align: center;
}
