
<div class="container-fluid" style="padding-right: 0px;padding-left: 0px;overflow-x: hidden;">
    <!-- <app-header [isLoggedIn]="isLoggedIn" [currentUser]="loggedUser"></app-header> -->
    <app-header ></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>    
</div>
